body {
    background-image: url("../img/background.png");
}

header {
    color: #FFFFFF;
}

body, input {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
}

#map {
    margin: 20px;
    padding: 0;
    border: 5px solid #FFFFFF;
}

input {
    width: 80%;
    padding: 5px;
    margin-left: 20px;
}

h1 {
    margin-left: 20px;
}
